<!DOCTYPE html>
<html lang="<%= lang || 'vi' %>">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <meta name="description" content="<%= description %>" />
    <% if (css) { %>
    <link rel="stylesheet" href="<%= css %>" />
    <% } %>
  </head>
  <body>
    <%- include('header') %> <%- body %> <%- include('footer') %> <% if (js) {
    %>
    <script type="module" src="<%= js %>"></script>
    <% } %>
  </body>
</html>
